$primary-color: rgb(103, 58, 183);
$destructiv-color: #dc3545;
$background-color: #fbfaf8;
$grey-color: #dedede;
$black: #222;

html,
body {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
}

h3 {
  font-size: 16px;
  font-weight: 700;

  &.middle {
    margin: 50% 0;
  }
}

#root {
  background-color: $background-color;
  min-height: 100%;
}

button {
  border-radius: 5px;
  background: $primary-color;
  border: none;
  color: #FFFFFF;
  width: 150px;
  padding: 10px;
  cursor: pointer;

  .spinner {
    -webkit-filter: grayscale(1) brightness(5);
    filter: grayscale(1) brightness(5);
  }

  &.button-destuctive {
    background: $destructiv-color;
  }

  &.button--remove {
    background: none;
    color: $black;
    width: auto;
    padding: 3px;
  }
}

input {
  border-radius: 5px;
  border: 1px solid $primary-color;
  padding: 10px;
}

.header {
  padding-top: 50px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: stretch;

  label {
    margin: 0;
    width: 100%;

    input {
      width: 100%;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.artical-list {
  margin: 10px;

  .artical {
    text-transform: capitalize;
  }
}

.item {
  display: flex;
  align-items: center;

  button {
    background: none;
    width: 120px;
    height: 120px;
    margin-right: 10px;
  }

  img {
    width: 100px;
    border: 5px solid #FFF;
  }

  &.selected {
    button {
      position: relative;
      background: $grey-color;

      img {
        opacity: 0.6;
      }

      .material-icons {
        position: absolute;
        font-size: 50px;
        left: 35px;
        top: 30px;
        color: $black;
      }
    }
  }
}

.button-bar {
  display: flex;
  margin-bottom: 10px;

  &.button-bar--center {
    justify-content: center;
  }

  button {
    margin-left: 5px;
    min-height: 44px;
  }
}

.spinner {
  animation: spin 1.5s infinite linear;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}